body {
	font-size: 26px;
	max-width: 500px;
	margin: 0 auto !important;
	float: none !important;
}

main {
	margin: 0 20px;
}

ol,
ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin: 10px 0;
	font: 24px sans-serif;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 60px;
	font-weight: bold;
	line-height: 80px;
	height: 80px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 80px;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.game-info {
	margin-left: 20px;
}